body {
  background-color: black;
}
body div {
  text-align: center;
}
table {
}
#main {
  display: inline-block;
  position: relative;
}
#settings {
  display: inline-block;
  position: relative;
}
td button {
  height: 50px;
  width: 50px;
  margin: 8px;
  padding: 0px;
  border: none;
  border-radius: 5px;

  background-color: white;
}
td button:hover {
  background-color: white;
}
td button.clicked {
  background-color: #0ff;
}
td button.clicked:hover {
  background-color: #0ff;
}
td button.sine {
  background-color: #0ff;
}
td button.sine:hover {
  background-color: #0ff;
}
td button.square {
  background-color: green;
}
td button.square:hover {
  background-color: green;
}
td button.triangle {
  background-color: red;
}
td button.triangle:hover {
  background-color: red;
}
td button.sawtooth {
  background-color: yellow;
}
td button.sawtooth:hover {
  background-color: yellow;
}
#timeline {
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 5px solid green;
  position: absolute;
}
@keyframes draw-line {
  0%   { left: 1% }
  100% { left: 98%; }
}

button.waveform {
  width: 100px;
  color: black;
  mix-blend-mode: difference;
}

button.waveform:hover {
  width: 100px;
}

button.waveform.clicked {
  background-color: grey;
}

button.waveform.clicked:hover {
  background-color: grey;
}

td button.sine2.clicked {
  background-color: #0ff;
}
td button.sine2.clicked:hover {
  background-color: #0ff;
}
td button.square2.clicked {
  background-color: green;
}
td button.square2.clicked:hover {
  background-color: green;
}
td button.triangle2.clicked {
  background-color: red;
}
td button.triangle2.clicked:hover {
  background-color: red;
}
td button.sawtooth2.clicked {
  background-color: yellow;
}
td button.sawtooth2.clicked:hover {
  background-color: yellow;
}